.container {
  display: flex;
  background-color: #edf3fc;
  height: 100vh;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.containerSection {
  display: flex;
  height: 80%;
}

.containerCard{
    font-family: "Montserrat", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f8fbff;
  border-radius: 15px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 800px;
  box-shadow: 0 4px 10px 1px rgb(0 0 0 / 25%);
}

.header {
  width: 100%;
}

.logoutButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007aff;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 20px;
  left: 20px;
}
