.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.25rem;
}

.btnVoltar {
  background-color: #fff6f6;
  width: 80px;
  height: 50px;
  border-radius: 60px;
  border: none;
  box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.btnVoltar:hover {
  cursor: pointer;
  background-color: #f8eded;
}

.selectTraining {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 95%;
  max-width: 650px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #464141;
  background-color: #fff6f6;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
  transition: 0.4s ease;
  margin: 0 auto;
}

.selectTraining:hover {
  cursor: pointer;
  background-color: #f8eded;
}

.linha {
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  background: #fffdfd;
  border-radius: 12px;
  padding: 16px;
  width: 90%;
  box-shadow: 0px 3px 10px 3px rgb(70 65 65 / 25%);
}

.titleCards {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: #194d8a;
}

.subTitleCards {
  margin-top: 4px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #4b86bb;
}

.wrapperButtons {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
}

.textBottom {
  font-size: 16px;
  font-weight: 500;
  color: #335a91;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #4aa7b0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.naofeito {
  display: none;
}
.feito {
  display: flex;
}

.image {
  width: 30px;
  height: 30px;
}
.btnPlay {
  font-size: 16px;
  font-weight: 600;
  color: #194d8a;
  width: 140px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #daf3ff;
  display: flex;
  align-items: center;
  gap: 6px;
}

.alingItems {
  display: flex;
  justify-content: center;
}

.leftItems {
  justify-content: start;
}

.btnFinalizar {
  margin-top: 20px;
  background-color: #00b3ff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 650px) {
  .textBottom {
    font-size: 10px;
  }
  .subTitleCards {
    font-size: 12px;
  }
  .titleCards {
    font-size: 16px;
  }
  .btnPlay {
    font-size: 10px;
    width: 90px;
    padding: 5px 10px;
  }
  .image {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .selectTraining {
    font-size: 1rem;
    height: 50px;
  }
}
