/* styles/Refeicoes.module.css */
.container {
    width: 90%;
    max-width: 1200px;
    padding: 16px;
    background: #F8FBFF;
    border-radius: 12px;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 25%);
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.refeicao {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.nome {
  width: 100%;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  border: 1px #CBC6C6 solid;
  border-radius: 6px;
  margin-bottom: 12px;
  background: #F8FBFF;
  text-align: center;
}

.macroInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
}

.macroInputs input {
  flex: 1;
  min-width: 100px;
  padding: 8px;
  border: 1px #CBC6C6 solid;
  border-radius: 6px;
  background: #F8FBFF;
}

.total {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.remover {
  background: #ff0054;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}

.acoes {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.acoes button {
  background: #0083FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.totalDieta {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
  padding: 12px;
  border: 1px #CBC6C6 solid;
  background: #F8FBFF;
  border-radius: 8px;
}

.salvar {
  width: 100%;
  background: #0083FF;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}


.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNumber {
  -moz-appearance: textfield; /* Firefox */
}

@media (max-width: 480px) {
  .macroInputs {
    flex-direction: column;
  }

  .macroInputs input {
    width: 100%;
  }

  .acoes {
    flex-direction: column;
    gap: 8px;
  }

  .acoes button {
    width: 100%;
  }
}
