.container {
  font-family: "Montserrat", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f8fbff;
  border-radius: 15px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 800px;
  box-shadow: 0 4px 10px 1px rgb(0 0 0 / 25%);
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.input {
  width: 92%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.lista {
  list-style: none;
  padding: 0;
  overflow: overlay;
  width: 95%;
  padding: 8px 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: #f8fbff;
  padding: 8px 12px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 25%);
}

.botao {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.botao:hover {
  background-color: #0059c1;
}
 
@media(max-width: 650px) {
  .container{
    width: 95%;
  }
  .item{
    font-size: 14px;
  }
  .botao{
    font-size: 14px;
  }
}

 
@media(max-width: 390px) {
  .item{
    flex-direction: column;
    gap: 15px;
  }
}
